@media (max-width: 767px) {
  .icon {
    width: 1.125em;
    height: 0.125em;
  }

  .icon::before,
  .icon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
    content: "";
    background: white;
  }

  .icon::before {
    top: 5px;
  }

  .icon::after {
    top: -5px;
  }

  .menu-btn:not(:checked) ~ .menu {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    display: block;
  }
}
